.car-slider {
    margin-top: 120px;
}
.car-slide {
    opacity: 1;
    margin-bottom: 130px;
    .wrapper {
        @include flex();
        position: relative;
    }
    .car-cat {
        position: absolute;
        line-height: .9;
        top: 0;
        left: 30%;
        opacity: 0;
        -webkit-transition: .6s all .0s ease-out;
           -moz-transition: .6s all .0s ease-out;
            -ms-transition: .6s all .0s ease-out;
             -o-transition: .6s all .0s ease-out;
                transition: .6s all .0s ease-out;
    }
    .car-img {
        opacity: 0;
        padding-top: 70px;
        position: relative;
        z-index: 2;
        -webkit-transition: .4s transform 0s, .4s opacity 0s;
           -moz-transition: .4s transform 0s, .4s opacity 0s;
            -ms-transition: .4s translform 0s, .4s opacity 0s;
             -o-transition: .4s transform 0s, .4s opacity 0s;
                transition: .4s transform 0s, .4s opacity 0s;
        -webkit-transform: translateX(-100%);
           -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
             -o-transform: translateX(-100%);
                transform: translateX(-100%);
        img {
            display: block;
        }
    }
    &.slick-current {
        .car-img {
        -webkit-transition: .6s transform .2s ease-out, .6s opacity .2s;
           -moz-transition: .6s transform .2s ease-out, .6s opacity .2s;
            -ms-transition: .6s translform .2s ease-out, .6s opacity .2s;
             -o-transition: .6s transform .2s ease-out, .6s opacity .2s;
                transition: .6s transform .2s ease-out, .6s opacity .2s;
            opacity: 1;
            -webkit-transform: translateX(0);
               -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                 -o-transform: translateX(0);
                    transform: translateX(0);
        }
        .car-cat {
            left: 10%;
            opacity: 1;
        }
        & + .slick-slider {
            .car-img {
                -webkit-transform: translateX(100%);
                   -moz-transform: translateX(100%);
                    -ms-transform: translateX(100%);
                     -o-transform: translateX(100%);
                        transform: translateX(100%);
            }
        }
    }
}

.slick-current {
    opacity: 1 !important;
}


.car-info {
    width: 340px;
    position: relative;
    z-index: 2;
    ul {
        background-color: #3498db;
        padding: 35px 20px;
        li {
            display: block;
            margin-bottom: 30px;
            position: relative;
            padding-left: 52px;
            font-size: 15px;
            color: #ffffff;
            text-align: left;
            line-height: 22px;
            &:last-of-type {
                margin-bottom: 0;
            }
            img {
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                   -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
        }
    }
    a {
        display: block;
        font-size: 22px;
        text-transform: uppercase;
        font-family: $f;
        font-weight: 500;
        color: $blue;
        height: 60px;
        line-height: 56px;
        padding-left: 30px;
        background: #FFF;
        width: 100%;
        border: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        text-align: left;
        background: url('../images/right-long.svg') no-repeat 90% center;
        @include transition(all, .2s);
        &:hover {
            background-position: 85% center;
        }
    }
}
.car-cat {
    color: #f7fafd;
    text-transform: uppercase;
    font-size: 250px;
    font-weight: 700;
}


.car-slider-nav {
    background-color: #f7fafd;
}
.car-slide-nav {
    width: 240px;
    height: 130px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    text-align: center;
    @include transition(all, .2s);
    &:before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    > div {
        display: inline-block;
        vertical-align: middle;
        max-width: 98%;
    } 
    &-img {
        display: block;
        margin-bottom: 12px;
        text-align: center;
        height: 46px;
        &:before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
        }
    }
    p {
        color: $text;
        font-size: 22px;
        font-family: $f;
        font-weight: 500;
        text-align: center;
    }
    &:hover,
    &.slick-current {
        background-color: #ebf0f5;
        border-color: $blue;
    }
}