.form-filter {
    overflow: hidden;
    border-radius: 2px;
    @include flex($wrap:no-wrap, $justify: center);
    &__group {
        @include flex($justify: flex-start);
        height: 60px;
        width: 280px;
        background-color: #FFF;
        padding: 0 20px 0 50px;
        border-right: 1px solid #eeeeee;
        position: relative;
        input {
            width: 100%;
            padding-left: 2px;
        }
        &:first-of-type {
            border-radius: 2px 0 0 2px;
        }
        &.location {
            background-repeat: no-repeat;
            background-image: url("../images/location-sign.svg");
            background-position: 20px 50%;
        }
    }
    .radio-group {
        padding-left: 20px;
        label {
            margin-right: 40px;
            cursor: pointer;
            &:last-of-type {
                margin-right: 0;
            }
            input {
                width: 0;
                height: 0;
                visibility: hidden;
                &:checked {
                    & + i {
                        border-color: $yellow;
                        &:after {
                            width: 6px;
                            height: 6px;
                            display: block;
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            background: $yellow;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                        }
                    }
                }
            }
            i { 
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px;
                height: 18px;
                width: 18px;
                border: 1px solid #c9d4d6;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    input,
    label {
        font-size: 15px;
        font-family: $hn;
        font-weight: 400;
        color: #222222;
        border: none;
    }
    button {
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 0 2px 2px 0;
        background: $orange url('../images/submit.svg') no-repeat center center;
        @include transition(all, .2s);
        &:hover {
            background-color: $orange-hover;
        }
    }
}

#exchange {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    right: -12px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    @include transition(all, .2s);
    background-image: url("../images/exchange.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    &.return {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}



.regular-form {
    .form-group {
        margin-bottom: 40px;

        &-devider {
            margin-top: -10px;
            margin-bottom: 30px;
            border: 0;
            border-top: 1px solid #eee;
            margin-left: 10px;
            paint-order: 10px;
        }

        .label {
            display: block;
            color: #222;
            font-size: 22px;
            font-weight: 500;
            font-family: $f;
            margin-bottom: 15px;
        }

        .input-pay {
            height: 62px;
            line-height: 62px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
            border-radius: 2px 0 0 2px;
            background-color: #f8f8f8;
            border: 0;
            padding: 0 20px;
            font-family: $hn;
            font-size: 15px;
            font-weight: 400;
            color: #222;
            padding-left: 80px;

            input[type="radio"] {
                display: none;
            }

            img {
                max-width: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            label {
                position: relative;
                cursor: pointer;

                &:before {
                    content: '';
                    @include radio();
                    margin-right: 10px;
                    position: absolute;
                    left: -40px;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    border-color: #f8f8f8;
                    background-color: $blue;
                    -webkit-filter: grayscale(100);
                    -o-filter: grayscale(100);
                    filter: grayscale(100);
                    opacity: 0.5;
                }
            }

            input:checked + label:before {
                -webkit-filter: grayscale(0);
                -o-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1;
            }
        }


        .input {
            position: relative;
            display: block;
            height: 62px;

            input[type="text"],
            input[type="number"],
            input[type="email"],
            input[type="tel"],
            textarea {
                @include input();

                &::-webkit-input-placeholder {
                  color: #888;
                }
                &::-moz-placeholder {
                  color: #888;
                }
                &:-ms-input-placeholder {
                  color: #888;
                }
                &:-moz-placeholder {
                  color: #888;
                }
            }

            textarea {
                resize: none;
                padding-top: 23px;
            }

            &.has-icon {
                input[type="text"],
                input[type="number"],
                input[type="email"],
                input[type="tel"],
                textarea {
                    padding-left: 50px;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }


            &.checkbox {
                line-height: 62px;

                input {
                    display: none;
                }

                label {
                    color: $blue;
                    font-family: $os;
                    font-size: 16px;
                    font-weight: 400;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 8px;
                        cursor: pointer;
                    }

                    &:before {
                        content: '';
                        width: 18px;
                        height: 18px;
                        border: 1px solid #c9d4d6;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }

                input:checked + label:before {
                    border-color: $blue;
                    background-image: url(../images/check-blue.svg);
                    background-repeat: no-repeat;
                    background-size: 14px;
                    background-position: 50% 50%;
                }
            }


            &.radio {
                text-align: center;
                line-height: 62px;
                @include flex($alignI: center, $justify: center);

                input[type="radio"] {
                    display: none;
                }

                > span {
                    padding: 0 30px;
                }

                label {
                    cursor: pointer;
                    font-family: $hn;
                    font-size: 15px;
                    font-weight: 400;
                    color: #222;

                    &:before {
                        content: '';
                        @include radio();
                        box-shadow: 0px 0px 0px 1px $orange;
                    }

                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                input:checked + label:before {
                    background-color: $orange;
                }
            }


            &.file {
                &:after {
                    content: '';
                    width: 24px;
                    height: 22px;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url(../images/input-file.svg);
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    -webkit-transform: translate(50%, -50%);
                    -ms-transform: translate(50%, -50%);
                    -o-transform: translate(50%, -50%);
                    transform: translate(50%, -50%);
                }
                input[type="file"] {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    opacity: 0;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                        cursor: pointer;
                    }
                }

                span {
                    @include input();
                    line-height: 62px;
                    padding-right: 50px;
                    color: #888;
                }
            }


            &.type-number {
                &:after {
                    content: '';
                    width: 16px;
                    height: 16px;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url(../images/type-number.svg);
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    -webkit-transform: translate(50%, -50%);
                    -ms-transform: translate(50%, -50%);
                    -o-transform: translate(50%, -50%);
                    transform: translate(50%, -50%);
                }
                input[type="text"],
                input[type="number"],
                input[type="email"],
                input[type="tel"],
                textarea {
                    padding-right: 50px;
                }
            }


            &.textarea {
                height: 236px;
            }

        }

        &.price-group {
            .price {
                display: block;
                font-size: 22px;
                font-weight: 500;
                line-height: 30px;
                text-transform: uppercase;
                font-family: $f;

                &__label {
                    width: 140px;
                    display: inline-block;
                }

                &__value {
                    display: inline-block;
                }

                &.transfer-price {
                    color: #222;
                }

                &.total-price {
                    color: $orange;
                }
            }
        }


        &.button-group {
            text-align: right;

            &.align-center {
                text-align: center;
            }
        }
    }

    .tip {
        color: #888888;
        font-family: $os;
        font-size: 13px;
        font-style: italic;
        margin-bottom: 40px;
        margin-top: -28px;

        a {
            color: $blue;
            font-style: normal;
            text-decoration: underline;
        }
    }

    .total-agreedment {
        text-align: center;

        .input {
            height: auto!important;
            line-height: normal!important;
        }

        label {
            font-size: 15px!important;
            font-weight: 400!important;
            color: #222!important;

            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}

.form-section {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

    &-half {
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
        margin: 0 10px;
    }

    &__header {
        background-color: $blue;
        color: #fff;
        padding: 16px 20px 15px 20px;
        text-transform: uppercase;
        font-family: $f;
        font-size: 25px;
        font-weight: 500;
    }

    &__body {
        padding: 35px 20px;
        margin-bottom: -40px;
    }

    &-devider {
        margin: 40px 10px;
        border: 0;
        border-top: 1px solid #eee;
    }
}


.car-group {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    input[type="radio"] {
        display: none;
    }



    label {
        color: $blue;
        font-family: $f;
        font-size: 22px;
        font-weight: 500;
        line-height: 22px;
        cursor: pointer;

        &:before {
            content: '';
            @include radio();
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }


        .car-preview {
            width: 120px;
            margin-right: 36px;

            img {
                display: block;
                width: 100%;
                display: block;
            }
        }

        .car-text:not(:last-child) {
            margin-right: 36px;
        }
    }

    input:checked + label:before {
        background-color: $blue;
    }
}