.offer {
    height: 620px;
    max-height: 440px;
    position: relative;
    @include flex($direction: column, $alignI: center, $justify: center);
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        margin-bottom: 10px;
        font-size: 40px;
        color: #ffffff;
        font-family: $rds;
        font-weight: 400;
        @media (max-width: 1200px) {
          font-size: 36px;
        }
        @media (max-width: 992px) {
          font-size: 32px;
        }
        @media (max-width: 600px) {
          font-size: 26px;
        }
    }
    p {
        font-size: 16px;
        font-family: $hn;
        color: #FFF;
        @media (max-width: 992px) {
          font-size: 14px;
        }
        @media (max-width: 600px) {
          font-size: 13px;
        }
    }
    * + form {
        margin-top: 50px;
        @media (max-width: 992px) {
            margin-top: 20px;
        }
    }
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 200px;
        left:0;
        bottom:0;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
    .wrapper {
        position: relative;
        z-index: 2;
    }

    &--small {
        height: 400px;
        max-height: 380px;
    }
    &--filter-results {
        @media (max-width: 992px) {
            height: 500px;
            max-height: 500px;
        }
    }
    &--controls {
        padding-bottom: 100px;
        @media (max-width: 800px) {
            padding-bottom: 80px;
        }
    }
    &__controls {
        @include flex($direction: column, $alignI: center, $justify: center);
        padding-bottom: 10px;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        border-top: 1px solid rgba(255,255,255,.2);
        text-align: center;
        @media (max-width: 800px) {
            height: 80px;
        }
        button {
            display: inline-block;
            background: none;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            color: #f5a623;
            font-size: 20px;
            font-family: $f;
            font-weight: 500;
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
            @media (max-width: 800px) {
                font-size: 18px;
            }
        }
    }
}

.search-button {
    &:before {
        width: 20px;
        height: 20px;
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        background: url('../images/search.svg') no-repeat 100% 100%;
        background-size: cover;
        @media (max-width: 800px) {
            width: 18px;
            height: 18px;   
        }
    }
    &.active {
        &:before {
            background: url('../images/close.svg') no-repeat 100% 100%;
            background-size: cover;
        }
    }
}


.offer--slider {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slide {
        @include flex($direction:column,$alignI:center, $justify:center);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 800px) {
            padding: 0 30px;
        }
        h1,
        h2 {
            color: #fff;
            font-size: 50px;
            font-weight: 700;
             text-align: center;
            @media (max-width: 1200px) {
                font-size: 40px;
            }
            @media (max-width: 800px) {
                font-size: 32px;
            }
            @media (max-width: 600px) {
                font-size: 30px;
            }
        }
        .button {
            margin-top: 16px;
        }
    }
}

.stroke {
    position: relative;
    &:before {
        content: "";
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background-repeat: repeat;
        background-image: url("../images/stroke.png");
    }

    &--top {
        &:before {
            bottom: auto;
            top: 0;    
        }
    }
}