.offer {
    height: 620px;
    max-height: 100%;
    position: relative;
    @include flex($direction: column, $alignI: center, $justify: center);
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        margin-bottom: 10px;
        font-size: 40px;
        color: #ffffff;
        font-family: $rds;
        font-weight: 400;
    }
    p {
        font-size: 16px;
        font-family: $hn;
        color: #FFF;
    }
    form {
        margin-top: 50px;
    }
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 200px;
        left:0;
        bottom:0;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
    .wrapper {
        position: relative;
        z-index: 2;
    }
}


.offer--slider {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
    @media (max-width: 600px) {
        height: 500px;
    }
    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slide {
        @include flex($direction:column,$alignI:center, $justify:center);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 800px) {
            padding: 0 30px;
        }
        h1,
        h2 {
            color: #fff;
            font-size: 50px;
            font-weight: 700;
             text-align: center;
            @media (max-width: 1200px) {
                font-size: 40px;
            }
            @media (max-width: 800px) {
                font-size: 32px;
            }
            @media (max-width: 600px) {
                font-size: 30px;
            }
        }
        .button {
            margin-top: 16px;
        }
    }
}

.stroke {
    position: relative;
    &:before {
        content: "";
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background-repeat: repeat;
        background-image: url("../images/stroke.png");
    }

    &--top {
        &:before {
            bottom: auto;
            top: 0;    
        }
    }
}