.services-list {
    .col-3 {
        padding: 0 10px;
    }
    p {
        font-family: $rds;
        font-size: 18px;
        font-weight: 400;
        font-weight: 400;
        text-align: left;
        color: #444444;
    }
}
.services-preview {
    display: block;
    height: 160px;
    padding: 20px;
    position: relative;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    span {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #FFF;
        font-size: 25px;
        font-family: $f;
        text-transform: uppercase;
        line-height: .9;
    }
    & + p {
        margin-top: 20px;
    }
}