.about-sliders {
    position: relative;

    @media (max-width: 991px) {
        .col-5,
        .col-7 {
            width: 100%;
        }
    }
}





.about-devider {
    margin: 80px 0;
    border: 0;
    border-top: 1px solid #eee;

    @media (max-width: 991px) {
        margin: 50px 0;
    }
}

.about-text {
    margin-bottom: 120px;

    .flex-row {
        @media (max-width: 1200px) {
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 50px;

        .about-column {
            width: 100%;
        }
    }

    .about-article {
        text-align: left;
        font-family: $hn;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: #222;
        padding-bottom: 50px;
        
        &--short {
            padding-right: 25%;    
        }

        h2 {
            color: $orange;
            font-size: 40px;
            font-weight: 400;
            font-family: $rds;
            margin-bottom: 20px;
            line-height: normal;

            @media (max-width: 991px) {
                text-align: center;
                font-size: 36px;
            }

            @media (max-width: 767px) {
                font-size: 30px;
            }
        }

        p:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    .image-column {
        text-align: right;

        @media (max-width: 991px) {
            text-align: center;
        }

        img {
            display: inline-block;
            max-width: 100%;
        }
    }

    &.blue {
        h2 {
            color: $blue;
        }
        .button {
            background-color: $blue;

            &:hover {
                background-color: $blue-hover;
            }
        }
    }
}




.photo-slider {
    width: 100%;

    @media (max-width: 991px) {
        margin-bottom: 15px;
    }

    .slide {
        img {
            display: block;
            width: 100%;
        }
    }

    &-wrap {
        position: relative;

        @media (max-width: 991px) {
            width: 580px;
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .slider-controls {
            position: absolute;
            bottom: 0;
        }

        &.left-controls {
            .slider-controls {
                left: 0;
            }
        }

        &.right-controls {
            .slider-controls {
                right: 0;
            }
        }
    }
}

.slider-controls {
    @include flex();

    .progress {
        color: #fff;
        width: 100px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 15px;
        font-family: $f;
        background-color: rgba(0, 0, 0, .3);

        span {
            font-size: 20px;
            vertical-align: middle;
        }

        .current {
            color: $blue;
        }
    }

    .buttons {
        width: 100px;
        height: 50px;
        background-color: #fff;

        button {
            width: 50px;
            height: 50px;
            float: left;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 24px;
            -webkit-filter: grayscale(100);
            -o-filter: grayscale(100);
            filter: grayscale(100);
            opacity: 0.5;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &.left-arrow {
                background-image: url(../images/arrow-prev.svg);
            }

            &.right-arrow {
                background-image: url(../images/arrow-next.svg);
            }

            &:hover {
                -webkit-filter: grayscale(0);
                -o-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}



.thumbnail-slider {
    width: 100%;
    margin-bottom: -2px;

    @media (max-width: 991px) {
        width: 580px;
        max-width: 100%;
        margin: 0 auto;
    }

    .slide {
        padding: 2px 10px;

        @media (max-width: 991px) {
            padding: 2px 5px;
        }

        @media (max-width: 600px) {
            padding: 2px;
        }

        img {
            display: block;
            width: 100%;
            cursor: pointer;
        }

        &.slick-current {
            img {
                outline: 2px solid $orange;
            }
        }
    }
}


.reviews-slider {
    position: absolute;
    top: 20px;
    right: 0;
    width: 530px;
    max-width: 100%;

    @media (max-width: 991px) {
        position: static;
        margin-top: 50px;
        width: 580px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100%;
    }
}

.slide-review {
    text-align: left;

    &__content {
        color: $blue;
        font-family: $f;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__person {
        color: #444444;
        font-family: $rds;
        font-size: 18px;
        font-weight: 400;

        img {
            margin-right: 20px;
        }

        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}


.about-after-content {
    article {
        font-family: $hn;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: #222;
        text-align: left;
        margin-bottom: -25px;
        -webkit-columns: 2;
        -moz-columns: 2;
        -o-columns: 2;
        columns: 2;
        -webkit-column-gap: 120px;
        -moz-column-gap: 120px;
        -o-column-gap: 120px;
        column-gap: 120px;

        @media (max-width: 991px) {
            -webkit-column-gap: 20px;
            -moz-column-gap: 20px;
            -o-column-gap: 20px;
            column-gap: 20px;
        }

        @media (max-width: 767px) {
            -webkit-columns: 1;
            -moz-columns: 1;
            -o-columns: 1;
            columns: 1;
        }

        p {
            margin-bottom: 25px;
        }
    }
}




.cta-section {
    padding: 200px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (max-width: 991px) {
        padding: 150px 0;
    }

    @media (max-width: 767px) {
        padding: 100px 0;
    }
    @media (max-width: 600px) {
        padding: 75px 0;
    }

    h2 {
        font-size: 40px;
        font-weight: 400;
        font-family: $rds;
        color: #fff;
        margin-bottom: 15px;

        @media (max-width: 991px) {
            font-size: 36px;
        }

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }

    p {
        font-family: $hn;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 70px;
        color: #fff;

        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
}