
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: $hn;
  font-size: 16px;
  @media (max-width: 1000px) {
    font-size: 15px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.section-title {
  margin-bottom: 70px;
  @media (max-width: 1500px) {
    margin-bottom: 60px;
  }
  @media (max-width: 1000px) {
    margin-bottom: 40px;
  }
  @media (max-width: 600px) {
    margin-bottom: 30px;
  }
  h2,
  h1 {
    color: $blue;
    font-size: 40px;
    font-family: $rds;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    @media (max-width: 1200px) {
      font-size: 36px;
    }
    @media (max-width: 992px) {
      font-size: 32px;
    }
    @media (max-width: 600px) {
      font-size: 26px;
    }
  }
  p {
    font-size: 16px;
    color: $text;
    @media (max-width: 992px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 13px;
    }
  }
  &.yellow {
    h2,
    h1 {
      color: $yellow;
    }
  }
}

.bordered-block {
  border: 10px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 15px #e9eef3;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1440px;
	margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
	text-align: center;
  @media (max-width: 1500px) {

  }
}

.section {
  padding: 60px 0;
  background-size: cover;
  background-position: 50% 50%;
}
.padding-top {
  padding-top: 60px;
}
.big-padding {
  padding: 150px 0;
  @media (max-width: 1500px) {
    padding: 120px 0;
  }
  @media (max-width: 1300px) {
    padding: 100px 0;
  }
  @media (max-width: 1000px) {
    padding: 80px 0;
  }
  @media (max-width: 800px) {
    padding: 60px 0;
  }
}
.bg-color {
  background-color: #f7fafd;
}
.bg-gray {
  background-color: #f8f8f8;
}

.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -10px;
    &.nm {
      margin: 0 auto;
    } 

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &.flex-row-stretch {
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }

    &.flex-row-bottom {
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
    }
}
[class*='col-'] {
    padding: 0 10px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.content-block {
  background-color: #ffffff;
  box-shadow: 0 0 30px #e9eef3;
  padding: 30px;
  font-size: 15px;
  text-align: left;
  @media (max-width: 600px) {
    font-size: 14px;
    padding: 25px;
  }
  h2 {
    margin-bottom: 20px;
    color: $blue;
    line-height: normal;
    font-size: 22px;
    font-family: $f;
    font-weight: 500;
  }
  p {
     line-height: 25px;
     margin-bottom: 30px;
  }
}

.content-part {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}

.ui-helper-hidden-accessible {display: none}
