
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: $hn;
}

.section-title {
  margin-bottom: 70px;
  h2,
  h1 {
    color: $blue;
    font-size: 40px;
    font-family: $rds;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    color: $text;
  }
  &.yellow {
    h2,
    h1 {
      color: $yellow;
    }
  }
}

.bordered-block {
  border: 10px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 15px #e9eef3;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1440px;
	margin: 0 auto;
  padding: 0 10px;
  max-width: 100%;
	text-align: center;
}

.section {
  padding: 60px 0;
}
.padding-top {
  padding-top: 60px;
}
.big-padding {
  padding: 140px 0;
}
.bg-color {
  background-color: #f7fafd;
}
.bg-gray {
  background-color: #f8f8f8;
}

.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -10px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &.flex-row-stretch {
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }

    &.flex-row-bottom {
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
    }
}
[class*='col-'] {
    padding: 0 10px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}