// COLORS
// ---------------------------
$text:                  #565656;
$grey:                  #222222;
$blue:                  #3498db;
$orange:                #f6a623;

// FONTS
// ---------------------------
$hn:                    'HelveticaNeue';
$os:                    'Open Sans';
$rds:                   'RYKNYQ+DessertScript';
$f:                     'Futura New Cond';


// RESPONSIVE
// ---------------------------
